pandas~=2.2.3
matplotlib~=3.10.1
numpy~=2.2.3
openpyxl
scipy
scikit-learn~=1.6.1
latex
jumpmodels~=0.1.1
yfinance~=0.2.54
hyperopt~=0.2.7
xgboost~=2.1.4
jupyter
psutil~=7.0.0
tqdm~=4.67.1
ipython>=7.0.0
hmmlearn
statsmodels
copulas
cdlib
bayanpy
leidenalg
wurlitzer
pyclustering
ASLPAw
seaborn
dtaidistance